/* line 5, main.scss */
.options-page {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 50px auto;
  padding: 50px;
  width: 500px;
  background-color: #fafafa;
  border-radius: 10px;
}
/* line 13, main.scss */
.options-page p {
  font-size: 16px;
}
/* line 16, main.scss */
.options-page p.saved {
  font-size: 14px;
  color: #cccccc;
  display: none;
}
